header{
    text-align: center;
    color: black;
    margin: 1px;
    font-size: 1.5em;
}
#navbar {
    color: #4d4e53;
    border:1px;
    position: fixed;
    min-width: 290px;
    top: 0px;
    float: 30%;
    padding: 8px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-bottom-width: medium;
    border-right-style: solid;
    border-color: black;
    
}
#navbar ul{
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar a{
    color: black;
    text-decoration: none;
    text-decoration-color: blue;
    text-decoration-line: none;
    text-anchor: end;
    text-decoration-style: solid;
    cursor: pointer;
}
#navbar li{
    color: #4d4e53;
border: 5px solid;
border-bottom-width: 1px;
padding: 20px;
padding-left: 45px;
list-style: circle;
position: relative;
left: -50px;
width: 100%;
right: 0px;
border-bottom-left-radius: 0px;
}
#main-doc{
    float: right;
    width: 70%;
    margin-left: 310px;
    padding: 35px;
    margin-bottom: 310px;    
}