body{
    background-color:blueviolet; color:black; font-size: 30px; padding-top: 0px;
}
h1{
    background-color:blanchedalmond ; color: blue; font-size: 15px; margin: 0px;
}
div{
    font-size: 15px; margin-top: 50px; margin-left: 25px; width: 700px; border: 10px solid black ; border-right: 50px; border-left: 50px; border-bottom: 50px; background-color:whitesmoke; 
}
#m1{
    font-size: 20px
}    
